* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d7ef;
}

.container {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 450px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}



.half-card {
    height: 48%;
    width: 450px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.calendar {
    margin-bottom: calc(100% - 94%);
}

header {
    height: 90px;
    background-color: #9395d3;
    font-weight: 900;
    font-size: 15px;
}

header h1 {
    padding: 30px 0 0 20px;
    color: #fff;
}

.task-space {
    height: calc(100% - 180px);
    overflow-y: auto;
    padding: 10px;
}


/* Scrollbar Style Start*/
.task-space::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.task-space::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.task-space::-webkit-scrollbar-thumb {
    background: #9899b9;
    border-radius: 10px;
}

.task-space::-webkit-scrollbar-thumb:hover {
    background: #9395d3;
}
/* Scrollbar Style End*/


.task-space .tasks-div {
    margin: 10px 0;
    min-height: 70px;
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.task-space .tasks-div .tasks {
    padding: 5px 10px;
    width: calc(100% - 25%);
    /* background-color: antiquewhite; */
}

.task-space .tasks-div .tasks .title {
    font-weight: 600;
     color: #9395d3; /* #7277ff */
}

.task-space .tasks-div .tasks .detail {
    font-size: small;
    font-weight: 600;
    color: #575656;
    text-align: justify;
}

.task-space .tasks-div .tools {
    display: flex;
    padding: 25px 10px 0 0;
}

.task-space .tasks-div .tools .tool {
    margin-left: 15px;
}

.add-task-plus {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
}

.plus {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #9395d3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.plus h1 {
    font-weight: 100;
    font-size: 50px;
    color: #ffffff;
}

.card-1 {
    margin-right: 25px;
}

.card-2 {
    margin-left: 25px;
}

/* Styling Calender */

.calendar-container {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
 
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
 
header .calendar-navigation {
    display: flex;
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    background: #f2f2f2;
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    padding: 20px;
}
 
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color: #aaa;
}
 
.calendar-dates li.active {
    color: #fff;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
    background: #6332c5;
}
 
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}